/* See license.txt for terms of usage */

/************************************************************************************************/
/* Twisties */

.memberRow.hasChildren > .memberLabelCell > .memberLabel,
.memberRow.cropped > .memberLabelCell > .memberLabel {
  background-image: url(twistyClosed.svg);
  background-repeat: no-repeat;
  background-position: 2px calc(0.5em - 3px);
  min-height: 12px;
}

.memberRow.hasChildren.opened > .memberLabelCell > .memberLabel,
.memberRow.cropped.opened > .memberLabelCell > .memberLabel {
  background-image: url(twistyOpen.svg);
  background-repeat: no-repeat;
}

/******************************************************************************/
/* Dark & Light Themes */

.theme-light .memberRow.hasChildren > .memberLabelCell > .memberLabel,
.theme-light .memberRow.cropped > .memberLabelCell > .memberLabel {
  background-image: url(twisty-closed-light.png);
  background-position: 5px 3px;
}

.theme-dark .memberRow.hasChildren > .memberLabelCell > .memberLabel,
.theme-dark .memberRow.cropped > .memberLabelCell > .memberLabel {
  background-image: url(twisty-closed-dark.png);
  background-position: 5px 3px;
}

.theme-light .memberRow.hasChildren.opened > .memberLabelCell > .memberLabel,
.theme-light .memberRow.cropped.opened > .memberLabelCell > .memberLabel {
  background-image: url(twisty-open-light.png);
  background-position: 5px 4px;
}

.theme-dark .memberRow.hasChildren.opened > .memberLabelCell > .memberLabel,
.theme-dark .memberRow.cropped.opened > .memberLabelCell > .memberLabel {
  background-image: url(twisty-open-dark.png);
  background-position: 5px 4px;
}